Repository opentargets/gentropy, pull requests merged in 2024-12, with the labels that each got.

#925 fix(l2g_predictions): annotate based on list of features + filter out missing annotation
  src/gentropy/dataset/l2g_prediction.py
  src/gentropy/l2g.py
Labels: bug, size-S, Dataset, Step

#945 build: define dependency version constraints + other fixes
  poetry.lock
  pyproject.toml
  tests/gentropy/test_imports.py
Labels: size-M, Build

#940 refactor: drop version_engine
  docs/python_api/common/version_engine.md
  src/gentropy/common/version_engine.py
  src/gentropy/config.py
  src/gentropy/gnomad_ingestion.py
  tests/gentropy/common/test_version_engine.py
Labels: documentation, size-M, Refactor, Step

#941 refactor: derive the _schema automatically
  src/gentropy/dataset/dataset.py
  src/gentropy/dataset/pairwise_ld.py
  tests/gentropy/dataset/test_dataset.py
Labels: size-S, Refactor, Dataset

#954 test: improve fixture definition by constraining dataset IDs
  src/gentropy/dataset/study_index.py
  tests/gentropy/conftest.py
Labels: size-M, Dataset, Test

#957 fix: repair SusieFinemapperStep to work with new SL schema and fix lo…
  src/gentropy/susie_finemapper.py
Labels: bug, Step, size-XS
