Repository opentargets/gentropy, pull requests merged in 2024-06, with the labels that each got.

#628 feat(config): extract gwas_significance parameter to step configuration
  config/step/ot_window_based_clumping.yaml
  src/gentropy/config.py
  src/gentropy/dataset/summary_statistics.py
  src/gentropy/datasource/gwas_catalog/associations.py
  src/gentropy/method/window_based_clumping.py
  src/gentropy/window_based_clumping.py
Labels: size-S, Method, Dataset, Step, Feature, Datasource

#633 feat(data_release): preparation for 24.06 data release
  config/datasets/ot_gcp.yaml
  config/step/ot_locus_to_gene_predict.yaml
  src/airflow/dags/finngen_preprocess.py
  src/airflow/dags/genetics_etl.py
  src/gentropy/common/types.py
  src/gentropy/config.py
  src/gentropy/dataset/l2g_prediction.py
  src/gentropy/l2g.py
Labels: size-S, Dataset, Step, Feature, airflow

#630 feat(qtl): ingest credible sets from single cell derived QTLs
  src/airflow/dags/eqtl_preprocess.py
  src/gentropy/assets/schemas/study_index.json
  src/gentropy/datasource/eqtl_catalogue/finemapping.py
  src/gentropy/datasource/eqtl_catalogue/study_index.py
Labels: size-S, Feature, airflow, Datasource

#617 feat(spark-helpers): enforce schema of returned objects
  src/gentropy/common/spark_helpers.py
  tests/gentropy/common/test_session.py
  tests/gentropy/common/test_spark_helpers.py
Labels: size-M, Feature

#634 feat: adding locus-breaker clumping method
  docs/python_api/methods/clumping.md
  src/gentropy/assets/schemas/study_locus.json
  src/gentropy/config.py
  src/gentropy/dataset/summary_statistics.py
  src/gentropy/method/locus_breaker_clumping.py
  tests/gentropy/method/test_locus_breaker_clumping.py
Labels: documentation, size-M, Method, Dataset, Step, Feature

#635 feat: enable interface with gcp secrets manager
  poetry.lock
  pyproject.toml
  src/gentropy/common/utils.py
Labels: size-S, Feature

#640 feat: credible set quality filtering
  src/gentropy/susie_finemapper.py
Labels: size-S, Step, Feature

#639 feat(config): 24.06 data release fixes
  config/datasets/ot_gcp.yaml
  config/step/ot_ld_based_clumping.yaml
  config/step/ot_ld_index.yaml
  src/gentropy/ld_index.py
Labels: size-S, Step, Feature

#642 fix(L2GPrediction): schema validation
  src/gentropy/dataset/l2g_feature_matrix.py
  src/gentropy/dataset/l2g_prediction.py
  src/gentropy/dataset/pairwise_ld.py
  tests/gentropy/dataset/test_l2g.py
Labels: size-S, Dataset, Feature

#645 feat(SusieFineMapperStep): add new function with boundaries
  src/gentropy/datasource/gnomad/ld.py
  src/gentropy/susie_finemapper.py
Labels: size-M, Step, Feature, Datasource

#646 feat: exclude region for StudyLocus object
  src/gentropy/dataset/study_locus.py
Labels: size-S, Dataset, Feature

#647 refactor: delete unnecessary config files
  config/step/ot_finngen_studies.yaml
  config/step/ot_finngen_sumstat_preprocess.yaml
  config/step/ot_gwas_catalog_sumstat_preprocess.yaml
  config/step/ot_pics.yaml
  config/step/ot_window_based_clumping.yaml
  src/airflow/dags/finngen_harmonisation.py
  src/airflow/dags/finngen_preprocess.py
  src/airflow/dags/gwas_catalog_harmonisation.py
  src/airflow/dags/gwas_catalog_preprocess.py
  src/gentropy/config.py
Labels: size-S, Refactor, Step, airflow

#650 build: remove python-semantic-release as project dependency
  poetry.lock
  pyproject.toml
Labels: Build, size-XS

#648 feat(ld_annotator): optional r2 threshold
  src/gentropy/dataset/study_locus.py
  src/gentropy/method/ld.py
  tests/gentropy/dataset/test_study_locus.py
Labels: size-S, Method, Dataset, Feature

#644 feat(stydyLocus): adding new locus collection using boundaries
  src/gentropy/dataset/study_locus.py
  tests/gentropy/conftest.py
  tests/gentropy/dataset/test_study_locus.py
Labels: size-S, Dataset, Feature

#651 chore: enable Jupyter Notebook gateway for the Dataproc cluster
  src/airflow/dags/common_airflow.py
Labels: airflow, Chore, size-XS

#576 feat(l2g): better l2g training, evaluation, and integration
  .gitignore
  config/datasets/ot_gcp.yaml
  config/step/ot_locus_to_gene_predict.yaml
  config/step/ot_locus_to_gene_train.yaml
  docs/python_api/methods/l2g/evaluator.md
  poetry.lock
  pyproject.toml
  src/gentropy/common/utils.py
  src/gentropy/config.py
  src/gentropy/dataset/l2g_feature_matrix.py
  src/gentropy/dataset/l2g_prediction.py
  src/gentropy/l2g.py
  src/gentropy/method/l2g/evaluator.py
  src/gentropy/method/l2g/model.py
  src/gentropy/method/l2g/trainer.py
  tests/gentropy/method/test_locus_to_gene.py
Labels: documentation, Method, Dataset, Step, Feature, size-XL

#652 feat: implement UKB PPP (EUR) ingestion & harmonisation
  config/step/ot_ukb_ppp_eur_sumstat_preprocess.yaml
  docs/development/contributing.md
  docs/python_api/datasources/_datasources.md
  docs/python_api/datasources/ukb_ppp_eur/_ukb_ppp_eur.md
  docs/python_api/datasources/ukb_ppp_eur/study_index.md
  docs/python_api/datasources/ukb_ppp_eur/summary_stats.md
  docs/python_api/steps/ukb_ppp_eur_sumstat_preprocess.md
  poetry.lock
  src/airflow/dags/ukb_ppp_eur.py
  src/gentropy/common/spark_helpers.py
  src/gentropy/config.py
  src/gentropy/datasource/ukb_ppp_eur/__init__.py
  src/gentropy/datasource/ukb_ppp_eur/study_index.py
  src/gentropy/datasource/ukb_ppp_eur/summary_stats.py
  src/gentropy/ukb_ppp_eur_sumstat_preprocess.py
Labels: documentation, size-M, Step, Feature, airflow, Datasource

#659 chore(SusieFineMapperStep): remove the locus_radius parameter
  src/gentropy/susie_finemapper.py
Labels: Step, Chore, size-XS

#660 ci: pre-commit update with pydoclint adjustments
  poetry.lock
  pyproject.toml
Labels: CI, size-XS

#661 fix: remove check merge conflict from pre-commit
  .pre-commit-config.yaml
Labels: bug, size-XS

#654 fix(SusieFineMapperStep): adding filtering of NANs in LD
  src/gentropy/susie_finemapper.py
Labels: bug, size-M, Step

#641 feat(datasets): adding new variant annotation model
  .vscode/settings.json
  config/datasets/ot_gcp.yaml
  config/step/ot_variant_annotation.yaml
  config/step/ot_variant_index.yaml
  config/step/ot_variant_to_gene.yaml
  docs/assets/imgs/ensembl_logo.png
  docs/python_api/datasets/variant_annotation.md
  docs/python_api/datasources/_datasources.md
  docs/python_api/datasources/ensembl/_ensembl.md
  docs/python_api/datasources/ensembl/variant_effect_predictor_parser.md
  docs/python_api/steps/ld_index.md
  docs/python_api/steps/variant_annotation_step.md
  docs/python_api/steps/variant_to_gene_step.md
  poetry.lock
  src/airflow/dags/gnomad_preprocess.py
  src/gentropy/assets/data/so_mappings.json
  src/gentropy/assets/schemas/variant_annotation.json
  src/gentropy/assets/schemas/variant_index.json
  src/gentropy/assets/schemas/vep_json_output.json
  src/gentropy/config.py
  src/gentropy/dataset/variant_index.py
  src/gentropy/datasource/ensembl/__init__.py
  src/gentropy/datasource/ensembl/vep_parser.py
  src/gentropy/datasource/gnomad/variants.py
  src/gentropy/datasource/gwas_catalog/associations.py
  src/gentropy/datasource/ukbiobank/__init__.py
  src/gentropy/gnomad_ingestion.py
  src/gentropy/gwas_catalog_ingestion.py
  src/gentropy/gwas_catalog_study_inclusion.py
  src/gentropy/variant_annotation.py
  src/gentropy/variant_index.py
  src/gentropy/variant_to_gene.py
  tests/gentropy/conftest.py
  tests/gentropy/data_samples/finucane_PIPs.npy
  tests/gentropy/data_samples/imported/GTEx_V8/ge/Adipose_Subcutaneous.tsv.gz
  tests/gentropy/data_samples/vep_consequences_sample.tsv
  tests/gentropy/data_samples/vep_sample.jsonl
  tests/gentropy/dataset/test_variant_annotation.py
  tests/gentropy/dataset/test_variant_index.py
  tests/gentropy/datasource/ensembl/test_vep_variants.py
  tests/gentropy/datasource/gwas_catalog/test_gwas_catalog_associations.py
  tests/gentropy/test_schemas.py
Labels: documentation, Dataset, Step, Feature, airflow, Datasource, size-XL
