Repository opentargets/gentropy, pull requests merged in 2024-03, with the labels that each got.

#519 ci: pull request labeler
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: CI, size-S

#517 ci: pull request template
  .github/pull_request_template.md
Labels: CI, size-S

#520 fix: pull-request labeler fixes
  .github/labeler.yml
Labels: bug, size-S

#475 feat(CARMA): adding time limited CARMA
  src/gentropy/method/carma.py
  tests/gentropy/method/test_carma.py
Labels: size-S, Method, Feature

#518 feat: extract credible sets and studies from all eQTL Catalogue finemapping results
  config/step/ot_eqtl_catalogue.yaml
  docs/python_api/datasources/eqtl_catalogue/_eqtl_catalogue.md
  src/airflow/dags/eqtl_preprocess.py
  src/gentropy/common/utils.py
  src/gentropy/config.py
  src/gentropy/dataset/study_locus.py
  src/gentropy/datasource/eqtl_catalogue/finemapping.py
  src/gentropy/datasource/eqtl_catalogue/study_index.py
  src/gentropy/datasource/finngen/finemapping.py
  src/gentropy/eqtl_catalogue.py
  src/gentropy/method/colocalisation.py
Labels: documentation, size-M, Method, Dataset, Step, Feature, airflow, Datasource

#524 fix: make setup dev not to update pre-commits
  utils/install_dependencies.sh
Labels: size-XS, Revert

#522 chore: update ruff pre-commit and rules
  .pre-commit-config.yaml
  pyproject.toml
  tests/airflow/test_dag.py
  tests/gentropy/common/test_session.py
  tests/gentropy/conftest.py
  tests/gentropy/dataset/test_colocalisation.py
  tests/gentropy/dataset/test_dataset.py
  tests/gentropy/dataset/test_gene_index.py
  tests/gentropy/dataset/test_intervals.py
  tests/gentropy/dataset/test_l2g.py
  tests/gentropy/dataset/test_ld_index.py
  tests/gentropy/dataset/test_study_index.py
  tests/gentropy/dataset/test_study_locus.py
  tests/gentropy/dataset/test_study_locus_overlap.py
  tests/gentropy/dataset/test_study_locus_overlaps.py
  tests/gentropy/dataset/test_summary_statistics.py
  tests/gentropy/dataset/test_v2g.py
  tests/gentropy/dataset/test_variant_annotation.py
  tests/gentropy/dataset/test_variant_index.py
  tests/gentropy/datasource/gwas_catalog/test_gwas_catalog_study_splitter.py
  tests/gentropy/datasource/intervals/test_andersson.py
  tests/gentropy/datasource/intervals/test_javierre.py
  tests/gentropy/datasource/intervals/test_jung.py
  tests/gentropy/datasource/intervals/test_thurman.py
  tests/gentropy/datasource/open_targets/test_l2g_gold_standard.py
  tests/gentropy/datasource/open_targets/test_target.py
  tests/gentropy/docs/test_applying_methods.py
  tests/gentropy/docs/test_create_dataset.py
  tests/gentropy/docs/test_creating_spark_session.py
  tests/gentropy/docs/test_inspect_dataset.py
  tests/gentropy/method/test_window_based_clumping.py
  tests/gentropy/step/test_clump_step.py
  tests/gentropy/test_cli.py
  tests/gentropy/test_schemas.py
  tests/gentropy/test_spark_helpers.py
Labels: documentation, size-S, Chore

#523 fix: pr labeller patterns
  .github/labeler.yml
Labels: bug, size-S

#526 ci: precommit checks for poetry TOML and lock
  .pre-commit-config.yaml
  poetry.lock
Labels: CI, size-S

#511 feat(coloc): single SNP case
  src/gentropy/method/colocalisation.py
  tests/gentropy/method/test_colocalisation_method.py
Labels: size-M, Method, Feature

#507 chore: small updates to accomodate GWAS Catalog for feb release
  src/airflow/dags/gwas_curation_update.py
  src/gentropy/datasource/gwas_catalog/study_index.py
  tests/gentropy/conftest.py
  tests/gentropy/data_samples/gwas_catalog_ancestries.tsv
  tests/gentropy/data_samples/gwas_catalog_ancestries_sample_v1.0.3-r2022-11-29.tsv
  tests/gentropy/data_samples/gwas_catalog_associations.tsv
  tests/gentropy/data_samples/gwas_catalog_studies.tsv
  tests/gentropy/data_samples/gwas_catalog_studies_sample-r2022-11-29.tsv
  utils/update_GWAS_Catalog_data.sh
Labels: size-S, airflow, Datasource, Chore

#490 feat(sumstat imputation): adding class for sumstat imputation
  docs/python_api/methods/sumstat_imputation.md
  src/gentropy/method/sumstat_imputation.py
  tests/gentropy/method/test_sumstat_imputation.py
Labels: documentation, size-M, Method, Feature

#537 ci: bugfix in PR labeller
  .github/labeler.yml
Labels: CI, size-XS

#528 feat(dag): add data transfer task group for release process
  config/datasets/ot_gcp.yaml
  poetry.lock
  src/airflow/dags/common_airflow.py
  src/airflow/dags/dag_genetics_etl.py
  src/airflow/dags/eqtl_preprocess.py
  src/airflow/dags/finngen_preprocess.py
  src/airflow/dags/genetics_etl.py
  src/gentropy/assets/schemas/l2g_feature_matrix.json
  src/gentropy/config.py
Labels: size-M, Step, Feature, airflow

#546 chore(l2g): log annotated gold standards in w&b
  src/gentropy/l2g.py
  src/gentropy/method/l2g/model.py
  src/gentropy/method/l2g/trainer.py
  tests/gentropy/method/test_locus_to_gene.py
Labels: size-S, Method, Step, Chore

#544 perf(l2g): streamline feature generation
  src/gentropy/config.py
  src/gentropy/dataset/l2g_feature_matrix.py
  src/gentropy/dataset/l2g_prediction.py
  src/gentropy/l2g.py
  src/gentropy/method/l2g/feature_factory.py
  tests/gentropy/conftest.py
  tests/gentropy/method/test_locus_to_gene.py
Labels: size-M, Method, Performance, Dataset, Step

#545 feat(l2g): distance features based on weighted score
  src/gentropy/method/l2g/feature_factory.py
Labels: size-S, Method, Feature

#492 perf(clump): refactored window based clumping
  docs/src_snippets/howto/python_api/c_applying_methods.py
  src/gentropy/clump.py
  src/gentropy/config.py
  src/gentropy/dataset/study_locus.py
  src/gentropy/dataset/summary_statistics.py
  src/gentropy/method/window_based_clumping.py
  src/gentropy/window_based_clumping.py
  tests/gentropy/dataset/test_study_locus.py
  tests/gentropy/method/test_window_based_clumping.py
Labels: documentation, size-M, Method, Performance, Dataset, Step

#541 feat: notebook to run qc metrics each release
  notebooks/Release_QC_metrics.ipynb
Labels: Feature, size-XL

#552 fix: small fixes in susie defaults
  src/gentropy/method/susie_inf.py
  tests/gentropy/method/test_susie_inf.py
Labels: bug, size-S, Method

#536 test(method): improved performance in coloc tests
  tests/gentropy/data_samples/coloc_test_data.snappy.parquet
  tests/gentropy/method/test_colocalisation_method.py
Labels: size-M, Test

#553 perf(l2g): optimise extraction of features from colocalisation results
  src/gentropy/dataset/l2g_feature_matrix.py
  src/gentropy/method/colocalisation.py
  src/gentropy/method/l2g/feature_factory.py
  tests/gentropy/method/test_locus_to_gene.py
Labels: size-M, Method, Performance, Dataset

#556 fix(coloc): handle cases when the bayes factors are null
  src/gentropy/method/colocalisation.py
  tests/gentropy/method/test_colocalisation_method.py
Labels: bug, size-S, Method
