Repository opentargets/gentropy, pull requests merged in 2024-10, with the labels that each got.

#771 feat: drop `v2g` and reimplement distance features
  docs/howto/command_line/run_step_in_cli.md
  docs/python_api/datasets/l2g_feature.md
  docs/python_api/datasets/l2g_features/_l2g_feature.md
  docs/python_api/datasets/l2g_features/colocalisation.md
  docs/python_api/datasets/l2g_features/distance.md
  docs/python_api/datasets/variant_to_gene.md
  docs/python_api/methods/l2g/_l2g.md
  docs/python_api/steps/variant_to_gene_step.md
  notebooks/Release_QC_metrics.ipynb
  src/gentropy/assets/schemas/v2g.json
  src/gentropy/common/spark_helpers.py
  src/gentropy/config.py
  src/gentropy/dataset/colocalisation.py
  src/gentropy/dataset/intervals.py
  src/gentropy/dataset/l2g_feature.py
  src/gentropy/dataset/l2g_features/__init__.py
  src/gentropy/dataset/l2g_features/colocalisation.py
  src/gentropy/dataset/l2g_features/distance.py
  src/gentropy/dataset/l2g_features/l2g_feature.py
  src/gentropy/dataset/l2g_gold_standard.py
  src/gentropy/dataset/v2g.py
  src/gentropy/dataset/variant_index.py
  src/gentropy/datasource/ensembl/vep_parser.py
  src/gentropy/datasource/open_targets/l2g_gold_standard.py
  src/gentropy/l2g.py
  src/gentropy/method/l2g/feature_factory.py
  src/gentropy/variant_to_gene.py
  tests/gentropy/conftest.py
  tests/gentropy/dataset/test_intervals.py
  tests/gentropy/dataset/test_l2g.py
  tests/gentropy/dataset/test_l2g_feature.py
  tests/gentropy/dataset/test_v2g.py
  tests/gentropy/dataset/test_variant_index.py
  tests/gentropy/datasource/open_targets/test_l2g_gold_standard.py
  tests/gentropy/test_schemas.py
Labels: documentation, Method, Dataset, Step, Feature, Datasource, size-XL

#802 chore: drop redundant parameter from sumstat qc step
  src/gentropy/config.py
  src/gentropy/sumstat_qc_step.py
Labels: Step, Chore, size-XS

#803 fix: align the schema of study_index for ukb ppp eur
  notebooks/README.md
  notebooks/Release_QC_metrics.ipynb
  src/gentropy/datasource/ukb_ppp_eur/study_index.py
Labels: bug, size-S, Datasource

#804 feat: force reinstallation of the gentropy on the cluster
  utils/install_dependencies_on_cluster.sh
Labels: Feature, size-XS

#801 feat(validation): adding credible set confidence annotation at validation time
  src/gentropy/assets/schemas/study_locus.json
  src/gentropy/dataset/study_locus.py
  src/gentropy/study_locus_validation.py
  tests/gentropy/dataset/test_study_locus.py
Labels: size-M, Dataset, Step, Feature

#806 chore: make the lb clumping ingest the partitionned data
  src/gentropy/locus_breaker_clumping.py
Labels: Step, Chore, size-XS

#796 feat: adding filtering to susie finemapper
  src/gentropy/config.py
  src/gentropy/finemapping_simulations.py
  src/gentropy/susie_finemapper.py
  tests/gentropy/method/test_susie_inf.py
Labels: size-M, Step, Feature

#809 feat: add sumstat QC fields to schema
  src/gentropy/assets/schemas/study_index.json
Labels: size-S, Feature

#810 feat: fix biosample study validation
  src/gentropy/assets/schemas/study_index.json
  src/gentropy/dataset/study_index.py
  src/gentropy/study_validation.py
  tests/gentropy/dataset/test_study_index.py
Labels: size-M, Dataset, Step, Feature

#811 refactor(vep_parser): store consequence to impact score as a project config
  src/gentropy/assets/data/variant_consequence_to_score.tsv
  src/gentropy/common/spark_helpers.py
  src/gentropy/config.py
  src/gentropy/dataset/variant_index.py
  src/gentropy/datasource/ensembl/vep_parser.py
  tests/gentropy/dataset/test_variant_index.py
Labels: size-M, Refactor, Dataset, Step, Datasource

#805 feat(l2g): implement variant consequence features from VEP
  docs/python_api/datasets/l2g_features/vep.md
  src/gentropy/config.py
  src/gentropy/dataset/l2g_features/vep.py
  src/gentropy/dataset/variant_index.py
  src/gentropy/l2g.py
  src/gentropy/method/l2g/feature_factory.py
  tests/gentropy/conftest.py
  tests/gentropy/dataset/test_l2g_feature.py
Labels: documentation, size-L, Method, Dataset, Step, Feature

#813 feat: optimisation of qc step
  src/gentropy/config.py
  src/gentropy/method/sumstat_quality_controls.py
  src/gentropy/sumstat_qc_step.py
  tests/gentropy/method/test_qc_of_sumstats.py
Labels: size-S, Method, Step, Feature

#817 fix: fix of type error in schema checking
  src/gentropy/method/locus_breaker_clumping.py
Labels: bug, Method, size-XS

#816 fix: adding studId to FM log
  src/gentropy/susie_finemapper.py
Labels: bug, Step, size-XS

#822 fix: biosample id duplication
  src/gentropy/dataset/study_index.py
  tests/gentropy/dataset/test_study_index.py
Labels: size-S, Dataset

#821 feat: change LD annotation for PICS fine-mapping to use major ancestry
  src/gentropy/method/ld.py
  tests/gentropy/method/test_ld.py
Labels: size-M, Method, Feature

#823 feat: decouple feature generation from L2G training step
  docs/python_api/steps/l2g.md
  src/gentropy/config.py
  src/gentropy/dataset/colocalisation.py
  src/gentropy/dataset/l2g_features/distance.py
  src/gentropy/dataset/l2g_gold_standard.py
  src/gentropy/dataset/l2g_prediction.py
  src/gentropy/l2g.py
  tests/gentropy/datasource/open_targets/test_l2g_gold_standard.py
Labels: documentation, size-M, Dataset, Step, Feature

#825 fix: mhc flag incorrect
  src/gentropy/dataset/study_locus.py
Labels: bug, Dataset, size-XS

#827 revert: no longer rescuing variants not in LD matrix when overlapping with SuSiE
  src/gentropy/dataset/study_locus.py
  tests/gentropy/dataset/test_study_locus.py
Labels: size-S, Dataset, Revert

#807 fix: empty inSilicoPredictors object in GnomAD variant index
  src/gentropy/datasource/gnomad/variants.py
Labels: bug, size-S, Datasource

#824 feat(l2g): merge sQTL and tuQTL colocalisation features
  docs/python_api/datasets/l2g_features/colocalisation.md
  src/gentropy/config.py
  src/gentropy/dataset/colocalisation.py
  src/gentropy/dataset/l2g_features/colocalisation.py
  src/gentropy/method/l2g/feature_factory.py
  tests/gentropy/dataset/test_l2g_feature.py
Labels: documentation, size-M, Method, Dataset, Step, Feature

#832 fix: adding single point statistics to pics loci
  src/gentropy/method/pics.py
  tests/gentropy/method/test_pics.py
Labels: bug, size-M, Method

#828 fix(find_overlap): missing right study type in output
  src/gentropy/dataset/study_locus.py
  tests/gentropy/conftest.py
  tests/gentropy/data_samples/coloc_test.parquet
  tests/gentropy/dataset/test_study_locus_overlaps.py
Labels: bug, size-S, Dataset

#834 feat: enhance variant index partitioning
  src/gentropy/variant_index.py
Labels: Step, Feature, size-XS

#840 ci: configure java v8
  .github/workflows/pr.yaml
Labels: CI, size-XS

#841 fix(l2g): remove custom session params + other fixes
  src/gentropy/config.py
  src/gentropy/l2g.py
Labels: bug, size-S, Step

#830 chore: adding priors to coloc step
  src/gentropy/colocalisation.py
  src/gentropy/config.py
Labels: size-S, Step, Chore

#843 feat(l2g): persist feature matrix in l2g training plan
  src/gentropy/dataset/l2g_feature_matrix.py
  src/gentropy/l2g.py
Labels: size-S, Dataset, Step, Feature

#839 fix: fix ukbppp studindex
  src/gentropy/datasource/ukb_ppp_eur/study_index.py
  src/gentropy/ukb_ppp_eur_sumstat_preprocess.py
Labels: bug, size-S, Step, Datasource

#844 fix: l2g fixes
  src/gentropy/config.py
  src/gentropy/dataset/l2g_feature_matrix.py
  src/gentropy/dataset/l2g_gold_standard.py
  src/gentropy/dataset/study_locus_overlap.py
  src/gentropy/l2g.py
  tests/gentropy/conftest.py
  tests/gentropy/dataset/test_l2g.py
  tests/gentropy/dataset/test_l2g_feature_matrix.py
  tests/gentropy/dataset/test_study_locus_overlap.py
Labels: bug, size-M, Dataset, Step

#829 chore: remove h4/h3 ratio
  src/gentropy/assets/schemas/colocalisation.json
  src/gentropy/method/colocalisation.py
  tests/gentropy/conftest.py
Labels: size-S, Method, Chore

#846 fix: updating the susie_finemapper init
  src/gentropy/susie_finemapper.py
Labels: bug, size-M, Step

#845 feat(coloc): step refactoring
  src/gentropy/colocalisation.py
  src/gentropy/config.py
  src/gentropy/dataset/colocalisation.py
  src/gentropy/method/colocalisation.py
  tests/gentropy/dataset/test_study_index.py
  tests/gentropy/method/test_colocalisation_method.py
  tests/gentropy/step/test_colocalisation_step.py
Labels: size-M, Method, Dataset, Step, Feature

#850 test: skip `fetch_coordinates_from_rsids`
  src/gentropy/datasource/ensembl/api.py
Labels: Datasource, Test, size-XS

#849 fix(eqtl): deduplicating credible set loci
  src/gentropy/datasource/eqtl_catalogue/finemapping.py
  tests/gentropy/conftest.py
  tests/gentropy/data_samples/QTD000584.lbf_variable.txt
  tests/gentropy/datasource/eqtl_catalogue/test_eqtl_catalogue.py
Labels: bug, size-M, Datasource

#848 chore: adding logging even when no CS in locus
  src/gentropy/susie_finemapper.py
Labels: size-S, Step, Chore

#847 feat(l2g): limit colocalisation neighbourhood to protein coding genes
  src/gentropy/dataset/l2g_features/colocalisation.py
  src/gentropy/dataset/l2g_features/vep.py
  tests/gentropy/dataset/test_l2g_feature.py
Labels: size-M, Dataset, Feature

#855 fix: filter nan in CSs
  src/gentropy/susie_finemapper.py
Labels: bug, Step, size-XS

#856 revert(finngen): restore the studyId prefix in finngen cs and si
  src/gentropy/config.py
  src/gentropy/datasource/finngen/finemapping.py
  src/gentropy/datasource/finngen/study_index.py
  src/gentropy/datasource/finngen_ukb_meta/study_index.py
  src/gentropy/finngen_finemapping_ingestion.py
  src/gentropy/finngen_studies.py
  tests/gentropy/datasource/finngen/test_finngen_finemapping.py
  tests/gentropy/datasource/finngen/test_finngen_study_index.py
Labels: size-M, Step, Datasource, Revert

#859 feat(susie_finemapper): allow for extraction of the log file from manifest
  src/gentropy/susie_finemapper.py
Labels: size-S, Step, Feature

#857 chore(coloc): changing the content of `numberColocalisingVariants` field
  src/gentropy/method/colocalisation.py
  src/gentropy/method/pics.py
  tests/gentropy/method/test_colocalisation_method.py
  tests/gentropy/method/test_pics.py
Labels: size-M, Method, Chore

#863 fix: adding beta for lead variant
  src/gentropy/susie_finemapper.py
Labels: bug, size-S, Step

#853 fix: biosample index add efo cell types
  src/gentropy/biosample_index.py
  src/gentropy/config.py
  src/gentropy/dataset/biosample_index.py
  src/gentropy/datasource/biosample_ontologies/utils.py
  tests/gentropy/data_samples/efo_biosample_sample.json
  tests/gentropy/datasource/biosample_ontologies/test_biosample_ontology.py
Labels: bug, python, Dataset, Step, Datasource, size-XL

#851 feat(l2g): extend colocalisation neighbourhood metrics to missing genes in the vicinity
  docs/python_api/datasets/l2g_features/colocalisation.md
  src/gentropy/dataset/l2g_features/colocalisation.py
  src/gentropy/dataset/l2g_features/vep.py
  tests/gentropy/dataset/test_l2g_feature.py
Labels: documentation, size-M, Dataset, Feature

#833 fix: add scQTLs into coloc features
  src/gentropy/dataset/colocalisation.py
  src/gentropy/dataset/l2g_features/colocalisation.py
Labels: bug, size-S, Dataset

#808 feat: gwas catalog top-hit + study step
  docs/python_api/steps/gwas_catalog_inclusion.md
  docs/python_api/steps/gwas_catalog_ingestion.md
  docs/python_api/steps/gwas_catalog_study_index.md
  docs/python_api/steps/gwas_catalog_top_hits.md
  src/gentropy/assets/schemas/study_index.json
  src/gentropy/config.py
  src/gentropy/dataset/study_index.py
  src/gentropy/datasource/gwas_catalog/associations.py
  src/gentropy/datasource/gwas_catalog/study_index.py
  src/gentropy/datasource/gwas_catalog/study_index_ot_curation.py
  src/gentropy/gwas_catalog_study_curation.py
  src/gentropy/gwas_catalog_study_inclusion.py
  src/gentropy/gwas_catalog_study_index.py
  src/gentropy/gwas_catalog_top_hits.py
  tests/gentropy/dataset/test_dataset_exclusion.py
  tests/gentropy/datasource/gwas_catalog/test_gwas_catalog_curation.py
  tests/gentropy/datasource/gwas_catalog/test_gwas_catalog_study_index.py
Labels: documentation, size-L, Dataset, Step, Feature, Datasource

#860 feat: adding desision tree to fine-mapper
  src/gentropy/susie_finemapper.py
Labels: size-M, Step, Feature

#870 fix: logging of finemamper
  src/gentropy/susie_finemapper.py
Labels: bug, size-M, Step

#869 chore: add chromosome validation
  src/gentropy/dataset/study_locus.py
  tests/gentropy/dataset/test_study_locus.py
Labels: size-S, Dataset, Chore

#852 feat: add gene count features to l2g
  docs/python_api/datasets/l2g_features/other.md
  src/gentropy/config.py
  src/gentropy/dataset/l2g_features/other.py
  src/gentropy/method/l2g/feature_factory.py
  tests/gentropy/dataset/test_l2g_feature.py
  tests/gentropy/dataset/test_l2g_feature_matrix.py
Labels: documentation, size-M, Method, Dataset, Step, Feature

#872 feat: change betas to posterior mean from susie for Finngen credible sets
  src/gentropy/datasource/finngen/finemapping.py
Labels: size-S, Feature, Datasource

#874 feat(variant_index): hash variants at the time of instance creation
  src/gentropy/dataset/dataset.py
  src/gentropy/dataset/variant_index.py
  src/gentropy/datasource/ensembl/vep_parser.py
  src/gentropy/variant_index.py
  tests/gentropy/dataset/test_dataset.py
  tests/gentropy/dataset/test_variant_index.py
  tests/gentropy/datasource/ensembl/test_vep_variants.py
Labels: size-M, Dataset, Step, Feature, Datasource

#868 fix: fix in calculate_credible_set_log10bf
  src/gentropy/dataset/study_locus.py
Labels: bug, Dataset, size-XS

#875 feat(l2g_feature_matrix): add `credibleSetConfidence` to L2G
  docs/python_api/datasets/l2g_features/other.md
  src/gentropy/config.py
  src/gentropy/dataset/l2g_features/other.py
  src/gentropy/method/l2g/feature_factory.py
  tests/gentropy/dataset/test_l2g_feature.py
Labels: documentation, size-M, Method, Dataset, Step, Feature

#878 feat(l2g): normalise distance features
  src/gentropy/dataset/l2g_features/distance.py
  tests/gentropy/dataset/test_l2g_feature.py
Labels: size-S, Dataset, Feature

#873 feat: l2g feature to indicate if gene is protein-coding or not
  docs/python_api/datasets/l2g_features/other.md
  src/gentropy/config.py
  src/gentropy/dataset/l2g_features/other.py
  src/gentropy/method/l2g/feature_factory.py
  tests/gentropy/dataset/test_l2g_feature.py
Labels: documentation, size-M, Method, Dataset, Step, Feature

#877 feat: making credset qc have an option to coalsce and deduplicate credible sets without ld pruning
  src/gentropy/credible_set_qc.py
  src/gentropy/method/susie_inf.py
Labels: size-S, Method, Step, Feature

#880 test(study_locus) credible_set_qc step integration test
  docs/python_api/steps/credible_set_qc_step.md
  src/gentropy/config.py
  src/gentropy/credible_set_qc.py
  src/gentropy/method/susie_inf.py
  tests/gentropy/step/test_credible_set_qc.py
Labels: documentation, size-M, Method, Step, Test

#876 feat: flagging duplicated entries while keeping one of the duplicates
  src/gentropy/dataset/dataset.py
  src/gentropy/study_locus_validation.py
  tests/gentropy/dataset/test_study_index.py
  tests/gentropy/dataset/test_study_locus.py
Labels: size-S, Dataset, Step, Feature

#886 feat(trainer): log model explanation with shap
  poetry.lock
  pyproject.toml
  src/gentropy/method/l2g/model.py
  src/gentropy/method/l2g/trainer.py
  utils/install_dependencies_on_cluster.sh
Labels: size-M, Method, Feature

#889 fix(distance_features): correct mean distance equation and correct rows with negative values
  src/gentropy/dataset/l2g_features/distance.py
  tests/gentropy/dataset/test_l2g_feature.py
Labels: bug, size-S, Dataset
