Repository opentargets/gentropy, pull requests merged in 2024-08, with the labels that each got.

#717 feat: notebook for locus breaker and susie finemapping benchmark
  notebooks/gwas_cat_benchmark.ipynb
  notebooks/ukb_ppp_benchmark.ipynb
Labels: Feature, size-XL

#729 docs: macos fix for some functions
  docs/development/troubleshooting.md
Labels: documentation, size-S

#734 feat: add invalid/valid dataset generation in validation steps/dag
  docs/python_api/steps/study_locus_validation.md
  docs/python_api/steps/study_validation.md
  src/airflow/dags/data_validation.py
  src/gentropy/config.py
  src/gentropy/dataset/dataset.py
  src/gentropy/dataset/study_index.py
  src/gentropy/dataset/study_locus.py
  src/gentropy/study_locus_validation.py
  src/gentropy/study_validation.py
  tests/gentropy/dataset/test_dataset_exclusion.py
  utils/update_vep_cache.sh
Labels: documentation, size-M, Dataset, Step, Feature, airflow

#739 fix: update cluster creation command
  Makefile
Labels: bug, size-XS

#738 fix: VariantIndex partitioned by chromosome has to be read without resursive file lookup flag
  src/gentropy/common/session.py
Labels: bug, size-XS
