Repository opentargets/gentropy, pull requests merged in 2024-05, with the labels that each got.

#594 feat: check for if no overlapping variants in LD index
  src/gentropy/susie_finemapper.py
Labels: size-S, Step, Feature

#566 refactor: moving all variant coordinates to GnomAD
  src/airflow/dags/common_airflow.py
  src/airflow/dags/gnomad_preprocess.py
  src/gentropy/assets/schemas/variant_annotation.json
  src/gentropy/common/utils.py
  src/gentropy/datasource/gnomad/ld.py
  src/gentropy/datasource/gnomad/variants.py
  src/gentropy/datasource/gwas_catalog/associations.py
Labels: size-M, Refactor, airflow, Datasource

#609 fix: fix python-semantic-release version
  .github/workflows/release.yaml
Labels: bug, size-XS

#611 fix: fix python-semantic-release version (again)
  .github/workflows/release.yaml
Labels: bug, size-XS

#613 fix(spark helpers): sorter function updated to avoid crash
  src/gentropy/common/spark_helpers.py
Labels: bug, size-XS

#620 feat(config): gnomAD steps configuration extraction and versioning
  .gitignore
  Makefile
  config/datasets/ot_gcp.yaml
  config/step/ot_ld_index.yaml
  config/step/ot_variant_annotation.yaml
  docs/python_api/_python_api.md
  docs/python_api/common/_common.md
  docs/python_api/common/types.md
  docs/python_api/common/version_engine.md
  pyproject.toml
  src/gentropy/common/types.py
  src/gentropy/common/version_engine.py
  src/gentropy/config.py
  src/gentropy/datasource/gnomad/ld.py
  src/gentropy/datasource/gnomad/variants.py
  src/gentropy/ld_index.py
  src/gentropy/variant_annotation.py
  tests/gentropy/common/test_version_engine.py
Labels: documentation, size-L, Step, Datasource

#622 fix(docs): update roadmap.md
  docs/roadmap.md
Labels: documentation, size-XS

#624 fix(ld): correct syntax for the `get_numpy_matrix` static method
  src/gentropy/datasource/gnomad/ld.py
Labels: bug, Datasource, size-XS

#625 fix(susie_finemapper): correct syntax for saving the logs df
  src/gentropy/susie_finemapper.py
Labels: bug, Step, size-XS

#627 fix(susie_finemapper): fix in the fine-mapper in case of sum stat imputation is False
  src/gentropy/susie_finemapper.py
Labels: bug, size-S, Step

#623 fix(SummaryStatistics): fix in sanity_filter
  src/gentropy/dataset/dataset.py
  src/gentropy/dataset/summary_statistics.py
  tests/gentropy/dataset/test_dataset.py
  tests/gentropy/method/test_qc_of_sumstats.py
Labels: bug, size-M, Dataset

#626 build(deps): add `[gcp]` and `[parquet]` extras to enable saving Pandas dataframes to Google Storage
  poetry.lock
  pyproject.toml
Labels: Build, size-XS

#629 fix(docs): fixed typo in l2g_prediciton schema page
  docs/python_api/datasets/l2g_prediction.md
Labels: bug, documentation, size-XS
