Repository opentargets/gentropy, pull requests merged in 2024-04, with the labels that each got.

#554 feat: add the step class for fine-mapping
  src/gentropy/susie_finemapper.py
  tests/gentropy/method/test_susie_inf.py
Labels: size-M, Step, Feature

#564 feat: the FineMapper function for one locus
  src/gentropy/susie_finemapper.py
  tests/gentropy/method/test_susie_inf.py
Labels: size-M, Step, Feature

#567 feat: susie_finemapper_ss_gathered()
  src/gentropy/susie_finemapper.py
Labels: size-M, Step, Feature

#568 feat: add FM step with carma and sumstat imputation
  src/gentropy/method/carma.py
  src/gentropy/susie_finemapper.py
Labels: size-M, Method, Step, Feature

#573 fix: adding deduplication for GWAS in locus
  src/gentropy/susie_finemapper.py
Labels: bug, Step, size-XS

#572 feat: add benchmarking for fine-mapping using Alzheimer as example
  notebooks/FineMapping_AlzheimierDisease.ipynb
Labels: Feature, size-XL

#574 fix: removing all duplicated variants in sumstats for finemapping functions
  src/gentropy/susie_finemapper.py
Labels: bug, Step, size-XS

#575 feat: adding notebook for mapping EFOs for the FinnGen study index
  notebooks/Mapping_EFO_finngen.ipynb
Labels: size-L, Feature

#577 feat: adding init to finemapping step
  src/gentropy/susie_finemapper.py
Labels: size-S, Step, Feature

#579 feat: dockerise gentropy python package
  Dockerfile
Labels: Feature, size-XS

#580 feat: updating step config file
  src/gentropy/config.py
  src/gentropy/susie_finemapper.py
Labels: size-S, Step, Feature

#583 fix: update error in config.py
  src/gentropy/config.py
  src/gentropy/susie_finemapper.py
Labels: bug, Step, size-XS

#582 feat: updating loci windows to locus radii
  src/gentropy/datasource/gnomad/ld.py
  src/gentropy/susie_finemapper.py
Labels: size-S, Step, Feature, Datasource

#543 fix: minor updates and bug fixes
  config/step/ot_variant_index.yaml
  src/airflow/dags/genetics_etl.py
  src/airflow/dags/gwas_catalog_preprocess.py
  src/gentropy/pics.py
Labels: bug, size-S, Step, airflow

#584 fix: updating config.py argument for finemapper
  src/gentropy/config.py
Labels: bug, Step, size-XS

#455 feat(sumstat qc): adding methods for QC of summary statistics
  docs/python_api/methods/sumstat_quality_controls.md
  src/gentropy/dataset/summary_statistics.py
  src/gentropy/method/sumstat_quality_controls.py
  tests/gentropy/method/test_qc_of_sumstats.py
Labels: documentation, size-M, Method, Dataset, Feature

#587 feat: functionality added to StudyLocus.find_overlaps() for finding within-study overlaps
  src/gentropy/dataset/study_locus.py
  tests/gentropy/dataset/test_study_locus_overlaps.py
Labels: size-S, Dataset, Feature

#588 feat: github action to upload docker image to artifact registry
  .github/workflows/artifact.yml
Labels: size-S, Feature

#585 fix: Java 11 in docker image and lighter image
  Dockerfile
Labels: bug, size-S

#589 fix: docker action fixes
  .github/workflows/artifact.yml
Labels: bug, size-XS

#590 fix: docker action fixes v2
  .github/workflows/artifact.yml
Labels: bug, size-XS

#592 feat: add purity qc metrics to fine-mapping
  src/gentropy/assets/schemas/study_locus.json
  src/gentropy/config.py
  src/gentropy/susie_finemapper.py
  tests/gentropy/method/test_susie_inf.py
Labels: size-M, Step, Feature
