Repository opentargets/gentropy, pull requests merged in 2024-09, with the labels that each got.

#743 fix: adding carma_tau parameter to susie_finemapper
  src/gentropy/config.py
  src/gentropy/method/carma.py
  src/gentropy/susie_finemapper.py
Labels: bug, size-S, Method, Step

#730 feat: logic and airflow pipeline for validation
  docs/python_api/steps/study_locus_validation.md
  docs/python_api/steps/study_validation.md
  src/airflow/dags/data_validation.py
  src/gentropy/config.py
  src/gentropy/dataset/dataset.py
  src/gentropy/dataset/study_index.py
  src/gentropy/dataset/study_locus.py
  src/gentropy/study_locus_validation.py
  src/gentropy/study_validation.py
  tests/gentropy/dataset/test_dataset_exclusion.py
Labels: documentation, size-L, Dataset, Step, Feature, airflow

#710 feat(variant index): improved data structure
  src/airflow/dags/variant_index.py
  src/gentropy/assets/data/so_mappings.json
  src/gentropy/assets/data/variant_consequence_to_score.tsv
  src/gentropy/assets/schemas/variant_index.json
  src/gentropy/assets/schemas/vep_json_output.json
  src/gentropy/common/spark_helpers.py
  src/gentropy/datasource/ensembl/vep_parser.py
  tests/gentropy/conftest.py
  tests/gentropy/data_samples/vep_sample.jsonl
  tests/gentropy/datasource/ensembl/test_vep_variants.py
Labels: size-M, Feature, airflow, Datasource

#746 fix: remove finngen prefix from credible set
  src/gentropy/config.py
  src/gentropy/datasource/finngen/finemapping.py
  src/gentropy/datasource/finngen/study_index.py
  src/gentropy/finngen_finemapping_ingestion.py
  tests/gentropy/datasource/finngen/test_finngen_finemapping.py
Labels: bug, size-S, Step, Datasource

#747 fix(finngen_r11): preserve all studyIds
  src/gentropy/datasource/finngen/study_index.py
Labels: bug, size-S, Datasource

#744 feat: adding finemapping method to studylocusid hash
  src/gentropy/dataset/study_locus.py
  src/gentropy/datasource/eqtl_catalogue/finemapping.py
  src/gentropy/datasource/finngen/finemapping.py
  src/gentropy/datasource/open_targets/l2g_gold_standard.py
  src/gentropy/l2g.py
  src/gentropy/method/pics.py
  src/gentropy/susie_finemapper.py
Labels: size-S, Method, Dataset, Step, Feature, Datasource

#753 fix: validation name mapping
  src/gentropy/dataset/dataset.py
  src/gentropy/dataset/study_index.py
  src/gentropy/dataset/study_locus.py
  src/gentropy/study_locus_validation.py
  tests/gentropy/dataset/test_dataset_exclusion.py
Labels: bug, size-S, Dataset, Step

#752 chore: removing old susie_finemapper functions
  src/gentropy/susie_finemapper.py
Labels: size-L, Step, Chore

#754 refactor: generalise per-chromosome processing
  src/gentropy/common/per_chromosome.py
  src/gentropy/ukb_ppp_eur_sumstat_preprocess.py
Labels: size-M, Refactor, Step

#755 refactor: generalise the harmonisation pipeline
  src/gentropy/common/harmonise.py
  src/gentropy/datasource/ukb_ppp_eur/summary_stats.py
Labels: size-M, Refactor, Datasource

#758 feat: drop airflow orchestration layer from gentropy
  config/__init__.py
  config/datasets/ot_gcp.yaml
  config/ot_config.yaml
  config/step/ot_colocalisation_coloc.yaml
  config/step/ot_colocalisation_ecaviar.yaml
  config/step/ot_eqtl_catalogue.yaml
  config/step/ot_gene_index.yaml
  config/step/ot_gwas_catalog_ingestion.yaml
  config/step/ot_gwas_catalog_study_curation.yaml
  config/step/ot_gwas_catalog_study_inclusion.yaml
  config/step/ot_ld_based_clumping.yaml
  config/step/ot_ld_index.yaml
  config/step/ot_locus_to_gene_predict.yaml
  config/step/ot_locus_to_gene_train.yaml
  config/step/ot_ukb_ppp_eur_sumstat_preprocess.yaml
  config/step/ot_variant_index.yaml
  config/step/ot_variant_to_gene.yaml
  config/step/session/dataproc.yaml
  docs/development/airflow.md
  docs/development/contributing.md
  docs/development/workflows.md
  mkdocs.yml
  poetry.lock
  pyproject.toml
  src/airflow/.env
  src/airflow/Dockerfile
  src/airflow/config/.gitkeep
  src/airflow/dags/.gitkeep
  src/airflow/dags/common_airflow.py
  src/airflow/dags/configs/dag.yaml
  src/airflow/dags/configs/variant_sources.yaml
  src/airflow/dags/data_validation.py
  src/airflow/dags/eqtl_preprocess.py
  src/airflow/dags/genetics_etl.py
  src/airflow/dags/gnomad_preprocess.py
  src/airflow/dags/gwas_catalog_harmonisation.py
  src/airflow/dags/gwas_catalog_preprocess.py
  src/airflow/dags/gwas_curation_update.py
  src/airflow/dags/ukb_ppp_eur.py
  src/airflow/dags/variant_index.py
  src/airflow/docker-compose.yaml
  src/airflow/logs/.gitkeep
  src/airflow/plugins/.gitkeep
  src/airflow/requirements.txt
  tests/airflow/test_dag.py
Labels: documentation, Feature, airflow, size-XL

#766 fix: prevent multiple credible filters to override spark plan
  poetry.lock
  src/gentropy/dataset/study_locus.py
Labels: bug, size-S, Dataset

#767 feat: flag MHC credible sets based on lead
  docs/python_api/common/_common.md
  docs/python_api/common/genomic_region.md
  src/gentropy/common/genomic_region.py
  src/gentropy/common/utils.py
  src/gentropy/dataset/study_locus.py
  src/gentropy/dataset/summary_statistics.py
  src/gentropy/locus_breaker_clumping.py
  src/gentropy/study_locus_validation.py
  tests/gentropy/dataset/test_study_locus.py
  tests/gentropy/dataset/test_summary_statistics.py
Labels: documentation, size-M, Dataset, Step, Feature

#770 feat: add condition to eQTL study index and schema
  src/gentropy/assets/schemas/study_index.json
  src/gentropy/datasource/eqtl_catalogue/finemapping.py
Labels: bug, Datasource, size-XS

#762 fix(effect harmonisation): addressing beta harmonisation bug
  src/gentropy/common/spark_helpers.py
  src/gentropy/datasource/gwas_catalog/associations.py
  tests/gentropy/datasource/gwas_catalog/test_gwas_catalog_associations.py
Labels: bug, size-M, Datasource

#773 perf: quickly build a Docker image for every branch
  .github/workflows/artifact.yml
Labels: size-S, Performance

#775 feat: flag all top-hits from GWAS catalog curation
  src/gentropy/dataset/study_locus.py
  src/gentropy/datasource/gwas_catalog/associations.py
  src/gentropy/datasource/gwas_catalog/study_splitter.py
  tests/gentropy/datasource/gwas_catalog/test_gwas_catalog_associations.py
Labels: size-S, Dataset, Feature, Datasource

#768 docs: update broken refs
  src/gentropy/dataset/summary_statistics.py
  src/gentropy/method/sumstat_imputation.py
Labels: documentation, Method, Dataset, size-XS

#777 feat: flag PICS top hits in studies with PICS from sumstats
  src/gentropy/dataset/study_locus.py
  src/gentropy/study_locus_validation.py
  tests/gentropy/dataset/test_study_locus.py
Labels: size-M, Dataset, Step, Feature

#772 fix(ld clumping): a revised logic allows a more accurate clumping
  src/gentropy/dataset/study_locus.py
  src/gentropy/method/clump.py
  tests/gentropy/method/test_clump.py
Labels: bug, size-M, Method, Dataset

#745 refactor(L2GFeatureMatrix)!: streamline feature matrix management
  docs/python_api/datasets/l2g_feature.md
  docs/python_api/methods/l2g/feature_factory.md
  src/gentropy/assets/schemas/l2g_feature_matrix.json
  src/gentropy/config.py
  src/gentropy/dataset/colocalisation.py
  src/gentropy/dataset/dataset.py
  src/gentropy/dataset/l2g_feature.py
  src/gentropy/dataset/l2g_feature_matrix.py
  src/gentropy/dataset/l2g_gold_standard.py
  src/gentropy/dataset/l2g_prediction.py
  src/gentropy/dataset/study_locus.py
  src/gentropy/datasource/eqtl_catalogue/study_index.py
  src/gentropy/l2g.py
  src/gentropy/method/colocalisation.py
  src/gentropy/method/l2g/feature_factory.py
  src/gentropy/method/l2g/model.py
  src/gentropy/method/l2g/trainer.py
  tests/gentropy/conftest.py
  tests/gentropy/dataset/test_colocalisation.py
  tests/gentropy/dataset/test_l2g.py
  tests/gentropy/dataset/test_l2g_feature.py
  tests/gentropy/dataset/test_l2g_feature_matrix.py
  tests/gentropy/dataset/test_study_locus.py
  tests/gentropy/datasource/open_targets/test_l2g_gold_standard.py
  tests/gentropy/method/test_locus_to_gene.py
Labels: documentation, Method, Refactor, Dataset, Step, Datasource, size-XL

#774 feat(dataproc): ability to version gentropy for dataproc cluster
  .github/workflows/artifact.yml
  Makefile
  docs/development/troubleshooting.md
  pyproject.toml
  utils/install_dependencies_on_cluster.sh
Labels: documentation, size-S, Feature

#782 feat: add `studyType` to `StudyLocus` and `Colocalisation` (and `StudyLocusOverlap`)
  src/gentropy/assets/schemas/colocalisation.json
  src/gentropy/assets/schemas/study_locus.json
  src/gentropy/assets/schemas/study_locus_overlap.json
  src/gentropy/colocalisation.py
  src/gentropy/dataset/colocalisation.py
  src/gentropy/dataset/study_locus.py
  src/gentropy/dataset/study_locus_overlap.py
  src/gentropy/l2g.py
  src/gentropy/method/colocalisation.py
  src/gentropy/study_locus_validation.py
  tests/gentropy/dataset/test_colocalisation.py
  tests/gentropy/dataset/test_l2g.py
  tests/gentropy/dataset/test_l2g_feature_matrix.py
  tests/gentropy/dataset/test_study_locus.py
  tests/gentropy/dataset/test_study_locus_overlap.py
  tests/gentropy/dataset/test_study_locus_overlaps.py
  tests/gentropy/method/test_colocalisation_method.py
Labels: size-M, Method, Dataset, Step, Feature

#779 feat: adding window based clumping to StudyLocus
  src/gentropy/dataset/study_locus.py
  src/gentropy/dataset/summary_statistics.py
  src/gentropy/gwas_catalog_ingestion.py
  src/gentropy/method/window_based_clumping.py
  tests/gentropy/dataset/test_study_locus.py
Labels: size-M, Method, Dataset, Step, Feature

#784 fix: small qc flag fixes
  src/gentropy/dataset/study_index.py
  src/gentropy/study_locus_validation.py
  src/gentropy/study_validation.py
Labels: bug, size-S, Dataset, Step

#769 feat: add biosample index
  docs/python_api/datasets/biosample_index.md
  docs/python_api/datasources/_datasources.md
  docs/python_api/datasources/biosample_ontologies/_cell_ontology.md
  docs/python_api/datasources/biosample_ontologies/_uberon.md
  docs/python_api/steps/biosample_index_step.md
  poetry.lock
  src/gentropy/assets/schemas/biosample_index.json
  src/gentropy/biosample_index.py
  src/gentropy/config.py
  src/gentropy/dataset/biosample_index.py
  src/gentropy/dataset/study_index.py
  src/gentropy/datasource/biosample_ontologies/__init__.py
  src/gentropy/datasource/biosample_ontologies/utils.py
  src/gentropy/study_validation.py
  tests/gentropy/conftest.py
  tests/gentropy/data_samples/cell_ontology_sample.json
  tests/gentropy/data_samples/uberon_sample.json
  tests/gentropy/dataset/test_biosample_index.py
  tests/gentropy/datasource/biosample_ontologies/test_biosample_ontology.py
Labels: documentation, Dataset, Step, Feature, Datasource, size-XL

#765 feat: 99% credible set validation during `study_locus_validation`
  src/gentropy/colocalisation.py
  src/gentropy/dataset/study_locus.py
  src/gentropy/pics.py
  src/gentropy/study_locus_validation.py
Labels: size-S, Dataset, Step, Feature

#780 feat: flag credible sets explained by SuSiE regions
  src/gentropy/dataset/study_locus.py
  src/gentropy/study_locus_validation.py
  tests/gentropy/dataset/test_study_locus.py
Labels: size-M, Dataset, Step, Feature

#785 fix: remove n_eff check from qc_step
  src/gentropy/config.py
  src/gentropy/method/sumstat_quality_controls.py
  src/gentropy/sumstat_qc_step.py
  tests/gentropy/method/test_qc_of_sumstats.py
Labels: bug, size-S, Method, Step

#787 build: updated precommits including adjustments to docstrings
  .pre-commit-config.yaml
  poetry.lock
  src/gentropy/common/version_engine.py
  src/gentropy/dataset/colocalisation.py
  src/gentropy/dataset/dataset.py
  src/gentropy/datasource/ensembl/vep_parser.py
  src/gentropy/l2g.py
  src/gentropy/method/l2g/model.py
  src/gentropy/method/susie_inf.py
Labels: size-S, Method, Dataset, Step, Datasource, Build

#776 fix(finngen_study_index): improved tests for finngen study index
  pyproject.toml
  src/gentropy/config.py
  src/gentropy/datasource/finngen/study_index.py
  src/gentropy/finngen_studies.py
  tests/gentropy/datasource/finngen/test_finngen_study_index.py
Labels: bug, size-M, Step, Datasource

#786 fix: clean unused study_locus_validation step parameter
  src/gentropy/config.py
  src/gentropy/study_locus_validation.py
Labels: bug, Step, size-XS

#789 fix(vep_parser): use nested schema for insilico predictors
  src/gentropy/common/spark_helpers.py
  src/gentropy/datasource/ensembl/vep_parser.py
  tests/gentropy/data_samples/vep_sample.jsonl
  tests/gentropy/datasource/ensembl/test_vep_variants.py
Labels: bug, size-M, Datasource

#791 fix: remove study_index_path from coloc step
  src/gentropy/config.py
Labels: bug, Step, size-XS

#793 fix(safe_array_union): allow for sorting nested structs
  src/gentropy/common/spark_helpers.py
  src/gentropy/dataset/variant_index.py
  src/gentropy/datasource/open_targets/variants.py
Labels: bug, size-M, Dataset, Datasource

#795 fix: bug in neglog_pvalue_to_mantissa_and_exponent
  src/gentropy/common/spark_helpers.py
Labels: bug, size-XS

#790 fix(schema): recursive validation of arbitrarily deep nested structure
  src/gentropy/common/schemas.py
  src/gentropy/dataset/dataset.py
  tests/gentropy/common/test_schema_methods.py
  tests/gentropy/dataset/test_study_index.py
  tests/gentropy/method/test_clump.py
  tests/gentropy/test_schemas.py
Labels: bug, size-L, Dataset

#788 fix: adding data specific p-value filters
  src/gentropy/config.py
  src/gentropy/eqtl_catalogue.py
  src/gentropy/finngen_finemapping_ingestion.py
  src/gentropy/pics.py
Labels: bug, size-S, Step

#783 feat: change `StudyLocusId` hashing method to md5 (and change `StudyLocusId` to string type)
  src/gentropy/assets/schemas/colocalisation.json
  src/gentropy/assets/schemas/l2g_feature.json
  src/gentropy/assets/schemas/l2g_gold_standard.json
  src/gentropy/assets/schemas/l2g_predictions.json
  src/gentropy/assets/schemas/study_locus.json
  src/gentropy/assets/schemas/study_locus_overlap.json
  src/gentropy/dataset/dataset.py
  src/gentropy/dataset/study_locus.py
  src/gentropy/datasource/eqtl_catalogue/finemapping.py
  src/gentropy/datasource/finngen/finemapping.py
  src/gentropy/datasource/gwas_catalog/associations.py
  src/gentropy/datasource/open_targets/l2g_gold_standard.py
  src/gentropy/l2g.py
  src/gentropy/method/locus_breaker_clumping.py
  src/gentropy/method/pics.py
  src/gentropy/method/window_based_clumping.py
  src/gentropy/susie_finemapper.py
  tests/gentropy/conftest.py
  tests/gentropy/dataset/test_colocalisation.py
  tests/gentropy/dataset/test_l2g.py
  tests/gentropy/dataset/test_l2g_feature_matrix.py
  tests/gentropy/dataset/test_study_locus.py
  tests/gentropy/dataset/test_study_locus_overlap.py
  tests/gentropy/dataset/test_study_locus_overlaps.py
  tests/gentropy/datasource/gwas_catalog/test_gwas_catalog_associations.py
  tests/gentropy/datasource/open_targets/test_variants.py
  tests/gentropy/method/test_clump.py
  tests/gentropy/method/test_colocalisation_method.py
Labels: size-M, Method, Dataset, Step, Feature, Datasource
