Repository opentargets/gentropy, pull requests merged in 2024-07, with the labels that each got.

#667 fix: typo in `cs_lbf_thr` parameter name
  src/gentropy/config.py
Labels: bug, Step, size-XS

#668 fix: make extended_spark_conf an empty dict instead of None
  src/gentropy/config.py
Labels: bug, Step, size-XS

#669 fix(SusieFineMapperStep): link configuration and step classes
  src/gentropy/config.py
Labels: bug, Step, size-XS

#608 feat: vep annotation (dockerised + google batch + airflow)
  .github/workflows/artifact.yml
  Makefile
  src/airflow/dags/vep_batch.py
  src/airflow/requirements.txt
  src/vep/Dockerfile
Labels: size-M, Feature, airflow

#655 feat: locus_breaker_clumping
  docs/python_api/methods/clumping.md
  src/gentropy/config.py
  src/gentropy/dataset/summary_statistics.py
  src/gentropy/locus_breaker_clumping.py
  src/gentropy/method/locus_breaker_clumping.py
Labels: documentation, size-M, Method, Dataset, Step, Feature

#675 feat: add qc step
  src/gentropy/config.py
  src/gentropy/sumstat_qc_step.py
Labels: size-S, Step, Feature

#677 feat: adding sanity filter to GWASCatalogSumstatsPreprocessStep
  src/gentropy/gwas_catalog_sumstat_preprocess.py
Labels: Step, Feature, size-XS

#680 fix: leave only five ancestries in LD
  src/gentropy/assets/data/gwas_population_2_LD_panel_map.json
  src/gentropy/config.py
Labels: bug, Step, size-XS

#682 fix(finemapping): reconcile changes in the finemapping step with config
  src/gentropy/config.py
Labels: bug, Step, size-XS

#681 feat: credible set quality control step
  src/gentropy/config.py
  src/gentropy/credible_set_qc.py
  src/gentropy/dataset/summary_statistics.py
  src/gentropy/method/susie_inf.py
  src/gentropy/susie_finemapper.py
Labels: size-M, Method, Dataset, Step, Feature

#683 feat(docker): image update for new orchestration
  Dockerfile
Labels: size-S, Feature

#672 feat(StudyIndex): validation for study type, disease, target etc
  src/gentropy/assets/schemas/study_index.json
  src/gentropy/dataset/dataset.py
  src/gentropy/dataset/study_index.py
  src/gentropy/dataset/study_locus.py
  src/gentropy/datasource/gwas_catalog/study_index.py
  tests/gentropy/dataset/test_study_index.py
Labels: size-L, Dataset, Feature, Datasource

#685 fix: fixed selection of major ancestry for finemapper
  src/gentropy/susie_finemapper.py
Labels: bug, size-S, Step

#665 feat(variant index): calculate hash as variant id for long variants
  src/gentropy/assets/schemas/variant_index.json
  src/gentropy/common/Liftover.py
  src/gentropy/common/spark_helpers.py
  src/gentropy/config.py
  src/gentropy/dataset/variant_annotation.py
  src/gentropy/dataset/variant_index.py
  src/gentropy/datasource/ensembl/vep_parser.py
  src/gentropy/datasource/gnomad/variants.py
  src/gentropy/gnomad_ingestion.py
  src/gentropy/variant_index.py
  tests/gentropy/dataset/test_variant_index.py
Labels: size-L, Dataset, Step, Feature, Datasource

#691 ci: prevent user from rebasing in minimal way
  .github/workflows/pr_release_trigger.yaml
Labels: CI, size-XS

#692 ci: artifacts versionned by release
  .github/workflows/artifact.yml
Labels: Feature, size-XS

#693 chore(study_index): improve study definition for the eQTL Catalogue and Finngen
  src/gentropy/datasource/eqtl_catalogue/finemapping.py
  src/gentropy/datasource/eqtl_catalogue/study_index.py
  src/gentropy/datasource/finngen/study_index.py
Labels: size-S, Datasource, Chore

#694 ci: revert semantic-release update
  .github/workflows/release.yaml
Labels: CI, size-XS

#678 feat: full orchestration of the variant index dag
  Makefile
  src/airflow/dags/common_airflow.py
  src/airflow/dags/configs/variant_sources.yaml
  src/airflow/dags/variant_index.py
  src/gentropy/common/session.py
  src/gentropy/config.py
  src/gentropy/dataset/dataset.py
  src/gentropy/dataset/variant_index.py
  src/gentropy/datasource/ensembl/api.py
  src/gentropy/datasource/open_targets/variants.py
  src/gentropy/variant_index.py
Labels: size-L, Dataset, Step, Feature, airflow, Datasource

#698 fix(variants): explode loci to generate list of variants + tests
  src/gentropy/common/spark_helpers.py
  src/gentropy/datasource/open_targets/variants.py
  tests/gentropy/datasource/open_targets/test_variants.py
Labels: bug, size-M, Datasource

#700 ci: Refactoring of the docker release process for gentropy
  .github/workflows/artifact.yml
  .github/workflows/release.yaml
  Dockerfile
Labels: CI, size-S

#701 fix(finemapping): typo in "elapsed_time"
  src/gentropy/susie_finemapper.py
Labels: bug, Step, size-XS

#702 feat: allow image push
  .github/workflows/artifact.yml
Labels: Feature, size-XS

#706 feat: implement reading study locus paths from the manifest
  src/gentropy/config.py
  src/gentropy/susie_finemapper.py
Labels: size-S, Step, Feature

#709 ci(release): use github app token for tag push
  .github/workflows/release.yaml
Labels: CI, size-XS

#716 feat: expose summary statistics qc and locus breaker steps to hydra cli
  docs/python_api/steps/locus_breaker_clumping.md
  docs/python_api/steps/summary_statistics_qc.md
  src/gentropy/config.py
Labels: documentation, size-S, Step, Feature

#721 fix: change config params to match new name
  config/step/ot_gwas_catalog_ingestion.yaml
  config/step/ot_gwas_catalog_study_inclusion.yaml
Labels: bug, size-XS
