Repository opentargets/gentropy, pull requests merged in 2024-11, with the labels that each got.

#888 feat: add step to generate association data
  docs/python_api/steps/l2g.md
  src/gentropy/common/spark_helpers.py
  src/gentropy/config.py
  src/gentropy/l2g.py
Labels: documentation, size-M, Step, Feature

#871 fix: revert distinct for associations input file
  src/gentropy/datasource/gwas_catalog/associations.py
  tests/gentropy/datasource/gwas_catalog/test_gwas_catalog_associations.py
Labels: bug, size-S, Datasource

#854 feat: add effect size direction to coloc output
  src/gentropy/assets/schemas/colocalisation.json
  src/gentropy/dataset/study_locus_overlap.py
  src/gentropy/method/colocalisation.py
  tests/gentropy/method/test_colocalisation_method.py
Labels: size-M, Method, Dataset, Feature

#887 feat: deconvolute studies upon ingestion of GWAS Catalog datasets
  src/gentropy/dataset/study_index.py
  src/gentropy/dataset/study_locus.py
  src/gentropy/datasource/gwas_catalog/study_index.py
  src/gentropy/gwas_catalog_top_hits.py
  src/gentropy/study_locus_validation.py
  src/gentropy/study_validation.py
  tests/gentropy/dataset/test_study_locus.py
Labels: size-M, Dataset, Step, Feature, Datasource

#890 fix(`credibleSetConfidence`): avoid null geneId in feature matrix
  src/gentropy/dataset/l2g_features/other.py
Labels: bug, Dataset, size-XS

#895 feat(feature_matrix): impute values for gene attribute cols
  src/gentropy/dataset/l2g_feature_matrix.py
  src/gentropy/dataset/l2g_gold_standard.py
  src/gentropy/dataset/study_locus.py
  src/gentropy/l2g.py
  tests/gentropy/dataset/test_l2g_feature_matrix.py
Labels: size-M, Dataset, Step, Feature

#899 feat: adding l2g features to prediction table
  src/gentropy/assets/schemas/l2g_predictions.json
  src/gentropy/dataset/l2g_prediction.py
  src/gentropy/l2g.py
Labels: size-S, Dataset, Step, Feature

#896 fix: ensure the #CHROM is not quoted
  src/gentropy/variant_index.py
  tests/gentropy/step/test_convert_to_vcf_step.py
Labels: bug, size-S, Step

#901 feat(feature_matrix): extract features for gwas associations only
  src/gentropy/l2g.py
Labels: Step, Feature, size-XS

#902 fix: do not impute `isProteinCoding`
  src/gentropy/dataset/l2g_feature_matrix.py
  tests/gentropy/dataset/test_l2g_feature_matrix.py
Labels: bug, Dataset, size-XS

#894 fix: reclassify eqtl catalogue sc datasets
  src/gentropy/dataset/colocalisation.py
  src/gentropy/datasource/eqtl_catalogue/finemapping.py
  src/gentropy/datasource/eqtl_catalogue/study_index.py
Labels: bug, size-S, Dataset, Datasource

#900 feat: improve partitioning of credible sets
  src/gentropy/study_locus_validation.py
Labels: size-S, Step, Feature

#904 fix: using the 99% PIP cs column,
  src/gentropy/datasource/finngen/finemapping.py
  tests/gentropy/data_samples/finngen_credset_summary_sample.tsv
  tests/gentropy/data_samples/finngen_credset_summary_sample.tsv.bgz
Labels: bug, size-S, Datasource

#905 chore: add `hf_model_commit_message` to `LocusToGeneStep`
  src/gentropy/config.py
  src/gentropy/l2g.py
Labels: size-S, Step, Chore

#897 refactor: finemapping method enum
  docs/python_api/datasets/study_locus.md
  src/gentropy/colocalisation.py
  src/gentropy/dataset/study_locus.py
  src/gentropy/datasource/eqtl_catalogue/finemapping.py
  src/gentropy/datasource/finngen/finemapping.py
  src/gentropy/method/pics.py
  src/gentropy/susie_finemapper.py
Labels: documentation, size-S, Method, Refactor, Dataset, Step, Datasource

#907 chore(l2g): parametrise score threshold when writing predictions
  src/gentropy/config.py
  src/gentropy/l2g.py
Labels: Step, Chore, size-XS

#906 chore: validate chromosome
  src/gentropy/study_locus_validation.py
Labels: Step, Chore, size-XS

#909 feat: extract pos and chromosome from variantid
  src/gentropy/common/utils.py
Labels: size-S, Feature

#910 feat: changes to PICS credible sets (OUT_OF_SAMPLE_LD QC flag and capital PICS)
  src/gentropy/dataset/study_locus.py
  src/gentropy/datasource/gwas_catalog/study_index.py
  src/gentropy/method/pics.py
  tests/gentropy/dataset/test_study_locus.py
Labels: size-S, Method, Dataset, Feature, Datasource

#912 feat(gold_standard): arbitrary gold standards
  src/gentropy/l2g.py
  src/gentropy/method/l2g/model.py
  src/gentropy/method/l2g/trainer.py
Labels: size-M, Method, Step, Feature

#915 feat: gzip evicence output to match existing format
  src/gentropy/l2g.py
Labels: Step, Feature, size-XS

#913 feat: redefine neighbourhood features to represent similarity with best metric + other fixes
  src/gentropy/config.py
  src/gentropy/dataset/l2g_features/colocalisation.py
  src/gentropy/dataset/l2g_features/distance.py
  src/gentropy/dataset/l2g_features/vep.py
  src/gentropy/dataset/l2g_gold_standard.py
  src/gentropy/dataset/l2g_prediction.py
  src/gentropy/l2g.py
  tests/gentropy/dataset/test_l2g_feature.py
  tests/gentropy/datasource/open_targets/test_l2g_gold_standard.py
Labels: bug, documentation, size-M, Dataset, Step, Feature

#919 fix: r2 for lead variant is always 1
  src/gentropy/dataset/study_locus.py
  src/gentropy/method/ld.py
  src/gentropy/method/pics.py
  tests/gentropy/method/test_pics.py
Labels: bug, size-S, Method, Dataset

#922 feat: reverting to using finngen 95% credible sets
  src/gentropy/datasource/finngen/finemapping.py
  tests/gentropy/data_samples/finngen_credset_summary_sample.tsv
Labels: size-S, Feature, Datasource

#921 feat: changing studylocus validation to 95 percent credible sets
  src/gentropy/dataset/study_locus.py
  src/gentropy/study_locus_validation.py
Labels: size-S, Dataset, Step, Feature

#929 chore(gnomad): updating GnomAD version to 4.1 from 4.0 + using joint frequencies
  src/gentropy/config.py
  src/gentropy/datasource/gnomad/variants.py
  src/gentropy/gnomad_ingestion.py
Labels: size-S, Step, Datasource, Chore

#924 feat(gold_standard): add traitFromSourceMappedId to schema
  src/gentropy/assets/schemas/l2g_gold_standard.json
  src/gentropy/dataset/l2g_feature_matrix.py
  tests/gentropy/dataset/test_l2g_feature_matrix.py
Labels: size-S, Dataset, Feature

#932 feat: coalescing the datasets
  src/gentropy/biosample_index.py
  src/gentropy/colocalisation.py
  src/gentropy/common/session.py
  src/gentropy/config.py
  src/gentropy/gene_index.py
  src/gentropy/study_locus_validation.py
  src/gentropy/study_validation.py
  src/gentropy/variant_index.py
Labels: size-S, Step, Feature

#931 chore(vep): Ensembl version update
  src/vep/Dockerfile
Labels: Chore, size-XS

#930 feat: allow building package from tag
  Makefile
Labels: Feature, size-XS

#933 feat: adding GERP conservation score to variant annotation
  src/gentropy/assets/schemas/vep_json_output.json
  src/gentropy/dataset/variant_index.py
  src/gentropy/datasource/ensembl/vep_parser.py
Labels: size-S, Dataset, Feature, Datasource

#935 fix: swap the ref parse
  Makefile
Labels: bug, size-XS
