Repository opentargets/gentropy, pull requests merged in 2025-03, with the labels that each got.

#1012 chore(l2g): make shap optional
  src/gentropy/config.py
  src/gentropy/l2g.py
Labels: size-S, Step, Chore

#1014 feat(l2g): update params after fine tuning for the new training data
  src/gentropy/config.py
Labels: Step, Feature, size-XS

#1015 feat(l2g): download specific model version from hub
  src/gentropy/config.py
  src/gentropy/dataset/l2g_prediction.py
  src/gentropy/l2g.py
  src/gentropy/method/l2g/model.py
Labels: size-S, Method, Dataset, Step, Feature

#1017 fix: addressing #3800 and #3799
  src/gentropy/dataset/variant_index.py
  src/gentropy/datasource/ensembl/vep_parser.py
  src/gentropy/foldx_ingestion.py
Labels: bug, size-S, Dataset, Step, Datasource

#1019 refactor(l2g): make wandb logging optional
  src/gentropy/config.py
  src/gentropy/l2g.py
  src/gentropy/method/l2g/trainer.py
  tests/gentropy/conftest.py
  tests/gentropy/dataset/test_l2g.py
  tests/gentropy/method/test_l2g_trainer.py
Labels: size-M, Method, Refactor, Step

#1024 chore: offline check uv lock
  .pre-commit-config.yaml
Labels: Chore, size-XS

#1027 chore: skip uv-lock on pre-commit ci
  .pre-commit-config.yaml
Labels: Chore, size-XS
