Repository opentargets/gentropy, pull requests merged in 2025-05, with the labels that each got.

#1039 fix: remove trans molQTLs from FM
  src/gentropy/dataset/colocalisation.py
  src/gentropy/dataset/l2g_features/colocalisation.py
  src/gentropy/l2g.py
  tests/gentropy/dataset/test_colocalisation.py
  tests/gentropy/dataset/test_l2g_feature.py
  tests/gentropy/dataset/test_l2g_feature_matrix.py
Labels: bug, size-M, Dataset, Step

#1038 fix: remove trans molQTLs from FM
  src/gentropy/dataset/colocalisation.py
  src/gentropy/dataset/l2g_features/colocalisation.py
  src/gentropy/l2g.py
  tests/gentropy/dataset/test_colocalisation.py
  tests/gentropy/dataset/test_l2g_feature.py
  tests/gentropy/dataset/test_l2g_feature_matrix.py
Labels: bug, size-M, Dataset, Step

#1042 docs: remove roadmap section
  docs/python_api/datasources/_datasources.md
  docs/roadmap.md
  mkdocs.yml
Labels: documentation, size-S

#1043 chore(VEP): Update Ensembl to 144
  src/vep/Dockerfile
Labels: Chore, size-XS

#1040 refactor(summary_statistics_qc): Summary Statistics QC dataset
  .vscode/settings.json
  docs/python_api/datasets/summary_statistics_qc.md
  docs/python_api/methods/sumstat_quality_controls.md
  src/gentropy/assets/schemas/study_index.json
  src/gentropy/assets/schemas/summary_statistics_qc.json
  src/gentropy/common/spark_helpers.py
  src/gentropy/common/utils.py
  src/gentropy/dataset/dataset.py
  src/gentropy/dataset/study_index.py
  src/gentropy/dataset/summary_statistics_qc.py
  src/gentropy/gwas_catalog_study_index.py
  src/gentropy/method/sumstat_quality_controls.py
  src/gentropy/study_validation.py
  src/gentropy/sumstat_qc_step.py
  tests/gentropy/data_samples/sumstatqc/_SUCCESS
  tests/gentropy/data_samples/sumstatqc/part-00000-616c94e9-0bd8-4e58-b184-8718f21fd19a-c000.snappy.parquet
  tests/gentropy/dataset/test_study_index.py
  tests/gentropy/dataset/test_summary_statistics.py
  tests/gentropy/dataset/test_summary_statistics_qc.py
  tests/gentropy/method/test_qc_of_sumstats.py
  tests/gentropy/step/test_summary_statistics_qc_step.py
  tests/gentropy/test_schemas.py
Labels: documentation, Method, Refactor, Dataset, Step, size-XL

#1041 fix: correction of the code for calculating log10BF for credible sets
  src/gentropy/dataset/study_locus.py
Labels: bug, size-S, Dataset

#1044 fix: ensure the coloc method name is not added to the output
  src/gentropy/colocalisation.py
  tests/gentropy/step/test_colocalisation_step.py
Labels: bug, Step, size-XS

#1046 fix: fix isProteincoding
  src/gentropy/l2g.py
Labels: bug, size-S, Step
