Repository opentargets/gentropy, pull requests merged in 2025-08, with the labels that each got.

#1078 fix(l2g): move `append_null_features` param to feature matrix step
  src/gentropy/config.py
Labels: bug, Step, size-XS

#1076 feat(l2g): hierarchical splitting by gene
  src/gentropy/config.py
  src/gentropy/l2g.py
  src/gentropy/method/l2g/trainer.py
  tests/gentropy/conftest.py
  tests/gentropy/dataset/test_l2g.py
  tests/gentropy/method/test_l2g_trainer.py
  uv.lock
Labels: size-M, Method, Step, Feature

#1108 build(docker,xgboost): update docker build
  .github/workflows/artifact.yml
  Dockerfile
  Makefile
  pyproject.toml
  uv.lock
Labels: size-M, Build
