Repository opentargets/gentropy, pull requests merged in 2025-02, with the labels that each got.

#982 fix: tweak spark session builder to fix type hints
  src/gentropy/common/session.py
Labels: bug, size-XS

#987 feat: labels for dataproc in dev mode
  Makefile
Labels: Feature, size-XS

#947 feat: FoldX predicted energies in variant annotation
  src/gentropy/assets/schemas/amino_acid_variants.json
  src/gentropy/config.py
  src/gentropy/dataset/amino_acid_variants.py
  src/gentropy/dataset/variant_index.py
  src/gentropy/datasource/open_targets/foldex_integration.py
  src/gentropy/foldx_ingestion.py
  src/gentropy/variant_index.py
Labels: size-M, Dataset, Step, Feature, Datasource

#989 fix: foldX normalisation to cover full range
  src/gentropy/dataset/variant_index.py
Labels: bug, Dataset, size-XS

#977 feat: implement posterior prob filter for COLOC at small overlaps N<10
  src/gentropy/method/colocalisation.py
  tests/gentropy/method/test_colocalisation_method.py
Labels: size-M, Method, Feature

#991 feat: new Loss-of-Function variant data from OTAR2075
  src/gentropy/assets/schemas/amino_acid_variants.json
  src/gentropy/assets/schemas/variant_index.json
  src/gentropy/config.py
  src/gentropy/dataset/variant_index.py
  src/gentropy/datasource/ensembl/vep_parser.py
  src/gentropy/datasource/open_targets/foldex_integration.py
  src/gentropy/datasource/open_targets/lof_curation.py
  src/gentropy/lof_curation_ingestion.py
  src/gentropy/variant_index.py
  tests/gentropy/conftest.py
  tests/gentropy/datasource/ensembl/test_vep_variants.py
Labels: size-M, Dataset, Step, Feature, Datasource

#996 fix(dataset): `filter` maintains instance attributes
  src/gentropy/dataset/dataset.py
Labels: bug, Dataset, size-XS

#939 feat(l2gprediction): add score explanation based on features
  src/gentropy/assets/schemas/l2g_predictions.json
  src/gentropy/dataset/dataset.py
  src/gentropy/dataset/l2g_prediction.py
  src/gentropy/l2g.py
  src/gentropy/method/l2g/model.py
Labels: size-M, Method, Dataset, Step, Feature

#997 fix(l2g): direct model path to hf repo when none and align training data filename
  src/gentropy/l2g.py
  src/gentropy/method/l2g/model.py
Labels: bug, size-S, Method, Step

#998 chore(shap): sample background dataset to make explanation faster
  src/gentropy/dataset/l2g_prediction.py
Labels: Dataset, Chore, size-XS

#999 feat: local dataproc cluster settings udpate
  Makefile
  docs/development/troubleshooting.md
  utils/clean_status.sh
Labels: documentation, size-S, Feature

#992 fix: dev release process
  .github/workflows/release.yaml
  docs/assets/imgs/development-flow.png
  docs/development/contributing.md
  pyproject.toml
Labels: bug, documentation, size-M

#1005 fix: foldx column name fix
  src/gentropy/datasource/open_targets/foldex_integration.py
Labels: bug, Datasource, size-XS

#1001 chore(trainer): sample train set to base model importances on
  src/gentropy/method/l2g/trainer.py
Labels: size-S, Method, Chore

#1006 fix: change posterior filter
  src/gentropy/method/colocalisation.py
  tests/gentropy/method/test_colocalisation_method.py
Labels: bug, Method, size-XS
