Repository opentargets/gentropy, pull requests merged in 2025-01, with the labels that each got.

#960 chore: clean documentation page about version engine
  docs/python_api/common/_common.md
Labels: documentation, Chore, size-XS

#948 fix(`isProteinCoding`): get all overlapping genes from the variant index
  src/gentropy/dataset/l2g_features/other.py
  tests/gentropy/dataset/test_l2g_feature.py
  tests/gentropy/datasource/open_targets/test_l2g_gold_standard.py
Labels: bug, size-M, Dataset

#975 fix: skip leading 'v' in docker tag
  .github/workflows/artifact.yml
Labels: bug, size-S

#946 refactor: remove gene_index step
  docs/howto/command_line/run_step_in_cli.md
  docs/howto/command_line/run_step_using_config.md
  docs/python_api/datasets/gene_index.md
  docs/python_api/datasets/target_index.md
  docs/python_api/datasources/open_targets/target.md
  docs/python_api/steps/gene_index.md
  src/gentropy/assets/schemas/gene_index.json
  src/gentropy/assets/schemas/target_index.json
  src/gentropy/biosample_index.py
  src/gentropy/config.py
  src/gentropy/dataset/intervals.py
  src/gentropy/dataset/l2g_features/colocalisation.py
  src/gentropy/dataset/l2g_features/distance.py
  src/gentropy/dataset/l2g_features/other.py
  src/gentropy/dataset/l2g_features/vep.py
  src/gentropy/dataset/study_index.py
  src/gentropy/dataset/target_index.py
  src/gentropy/datasource/intervals/andersson.py
  src/gentropy/datasource/intervals/javierre.py
  src/gentropy/datasource/intervals/jung.py
  src/gentropy/datasource/intervals/thurman.py
  src/gentropy/datasource/open_targets/target.py
  src/gentropy/gene_index.py
  src/gentropy/l2g.py
  src/gentropy/study_validation.py
  tests/gentropy/conftest.py
  tests/gentropy/dataset/test_gene_index.py
  tests/gentropy/dataset/test_l2g_feature.py
  tests/gentropy/dataset/test_l2g_feature_matrix.py
  tests/gentropy/dataset/test_study_index.py
  tests/gentropy/dataset/test_summary_statistics.py
  tests/gentropy/dataset/test_target_index.py
  tests/gentropy/dataset/test_variant_index.py
  tests/gentropy/datasource/intervals/test_andersson.py
  tests/gentropy/datasource/intervals/test_javierre.py
  tests/gentropy/datasource/intervals/test_jung.py
  tests/gentropy/datasource/intervals/test_thurman.py
  tests/gentropy/datasource/open_targets/test_target.py
  tests/gentropy/test_cli.py
  tests/gentropy/test_schemas.py
Labels: documentation, Refactor, Dataset, Step, Datasource, size-XL

#973 feat(qtls): flagging trans QTL credible sets
  src/gentropy/assets/schemas/study_locus.json
  src/gentropy/config.py
  src/gentropy/dataset/study_locus.py
  src/gentropy/study_locus_validation.py
  tests/gentropy/dataset/test_study_locus.py
  tests/gentropy/step/test_colocalisation_step.py
Labels: size-M, Dataset, Step, Feature

#974 chore: multiple python version support with latest pyspark and hail
  .github/labeler.yml
  .github/pull_request_template.md
  .github/workflows/artifact.yml
  .github/workflows/pr.yaml
  .github/workflows/release.yaml
  .gitignore
  .pre-commit-config.yaml
  .python-version
  Dockerfile
  Makefile
  docs/development/contributing.md
  docs/development/troubleshooting.md
  poetry.lock
  pyproject.toml
  src/gentropy/common/spark_helpers.py
  src/gentropy/common/utils.py
  src/gentropy/config.py
  src/gentropy/dataset/variant_index.py
  src/gentropy/datasource/ensembl/vep_parser.py
  src/gentropy/datasource/gwas_catalog/associations.py
  src/gentropy/datasource/gwas_catalog/study_index.py
  src/gentropy/method/colocalisation.py
  tests/gentropy/step/test_colocalisation_step.py
  utils/clean_status.sh
  utils/install_dependencies.sh
  utils/install_dependencies_on_cluster.sh
  uv.lock
Labels: documentation, Method, Dataset, Step, Datasource, size-XL, Chore

#978 chore: bump pycln version
  .pre-commit-config.yaml
Labels: Chore, size-XS

#979 feat(l2gmodel): store features list metadata as instance attribute
  .pre-commit-config.yaml
  src/gentropy/dataset/l2g_prediction.py
  src/gentropy/l2g.py
  src/gentropy/method/l2g/model.py
  src/gentropy/method/l2g/trainer.py
  tests/gentropy/dataset/test_colocalisation.py
  tests/gentropy/dataset/test_dataset.py
  tests/gentropy/dataset/test_l2g.py
  tests/gentropy/dataset/test_l2g_feature.py
  tests/gentropy/dataset/test_l2g_feature_matrix.py
  tests/gentropy/dataset/test_study_locus.py
  tests/gentropy/datasource/biosample_ontologies/test_biosample_ontology.py
  tests/gentropy/datasource/ensembl/test_vep_variants.py
  tests/gentropy/datasource/finngen/test_finngen_study_index.py
  tests/gentropy/datasource/gnomad/test_gnomad_ld.py
  tests/gentropy/datasource/gwas_catalog/test_gwas_catalog_curation.py
  tests/gentropy/datasource/open_targets/test_l2g_gold_standard.py
  tests/gentropy/datasource/open_targets/test_variants.py
  tests/gentropy/method/test_colocalisation_method.py
  tests/gentropy/method/test_locus_breaker_clumping.py
  tests/gentropy/method/test_susie_inf.py
  tests/gentropy/step/test_colocalisation_step.py
  tests/gentropy/step/test_convert_to_vcf_step.py
  tests/gentropy/step/test_credible_set_qc.py
  tests/gentropy/test_schemas.py
  tests/gentropy/test_spark_helpers.py
Labels: size-M, Method, Dataset, Step, Feature

#971 chore: removing symbols from QTL study identifiers
  src/gentropy/common/spark_helpers.py
  src/gentropy/dataset/study_index.py
  src/gentropy/datasource/eqtl_catalogue/finemapping.py
  src/gentropy/datasource/eqtl_catalogue/study_index.py
  tests/gentropy/data_samples/QTD000584.credible_sets.tsv
  tests/gentropy/data_samples/QTD000584.lbf_variable.txt
  tests/gentropy/datasource/eqtl_catalogue/test_eqtl_catalogue.py
Labels: size-M, Dataset, Datasource, Chore
