Repository opentargets/gentropy, pull requests merged in 2025-07, with the labels that each got.

#1068 chore: adding pubmed identifier to evidence
  src/gentropy/dataset/l2g_prediction.py
  tests/gentropy/dataset/test_l2g.py
Labels: size-M, Dataset, Chore

#1060 fix: adding rsids to GnomAD variants
  docs/python_api/datasources/gnomad/gnomad_variants.md
  src/gentropy/config.py
  src/gentropy/datasource/gnomad/variants.py
  src/gentropy/gnomad_ingestion.py
Labels: bug, documentation, size-M, Step, Datasource

#1069 feat: adding pmid to finngen studies
  src/gentropy/datasource/finngen/study_index.py
Labels: size-S, Feature, Datasource

#1071 fix: add pyarrow for pyspark pandas_udf api
  pyproject.toml
  uv.lock
Labels: bug, size-XS

#1072 feat: implement Germline Methods team compatibility changes
  src/gentropy/config.py
  src/gentropy/dataset/l2g_feature_matrix.py
  src/gentropy/dataset/study_locus.py
  src/gentropy/datasource/gnomad/ld.py
  src/gentropy/datasource/pan_ukbb_ld/ld.py
  src/gentropy/l2g.py
  src/gentropy/method/ld_matrix_interface.py
  src/gentropy/susie_finemapper.py
  tests/gentropy/conftest.py
  tests/gentropy/dataset/test_l2g_feature_matrix.py
  tests/gentropy/dataset/test_study_locus.py
  tests/gentropy/datasource/gnomad/test_gnomad_ld.py
  tests/gentropy/datasource/ukbiobank/test_pan_ukbb_ld.py
  tests/gentropy/method/test_ld_matrix_interface.py
Labels: enhancement
